.dark-blue-bg {
  
  background-color: rgb(3, 7, 18);}

.p-bg  {

  background-color: rgba(255, 255, 255, 0.736);

  }


.nav-bg{
  background-color: rgba(3, 7, 18, 0.671); ;
}



.low-white-bg  {

  background-color: rgba(255, 255, 255, 0.822);

  }